@model IEnumerable<Order>
@{
    ViewData["Title"] = "AllOrders";
}

<div style=" width:100%" class="mt-2"></div>

<h4>Orders </h4>

@if(Model !=null && Model.Count() > 0)
{
    <table class="table-striped">

        <tr>
            <th>OrderDate</th>
            <th>Name</th>
            <th>Email</th>
            <th>MobileNumber</th>
            <th>Address</th>
            <th>PaymentStatus</th>
            <th>OrderStatus</th>
            <th>Actions</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
               <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
               <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.MobileNumber</td>
                <td>@item.Address</td>
                <td>@item.PaymentMethod|@(item.isPaid?"Paid":"Not Paid")</td>
                <td>@item.OrderStatus.StatusName</td>
                <td>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-@item.Id"> class="btn btn-primary">Order-Detail</button>
                    <a asp-action="UpdateOrderStatus" asp-route-orderId="@item.Id" class="btn btn-info">Change Order Status</a>
                    <a asp-action="TogglePaymentStatus" asp-route-orderId="@item.Id" class="btn btn-info">Toggle Payment Status</a>

                    @*nodal div*@

                    @await Html.PartialAsync("/Views/AdminOperations/_OrderDetailModal.cshtml", new OrderDetailModelDTO{DivId=item.Id.ToString(),OrderDetail=item.OrderDetail});
                </td>
            </tr>
        }

    </table>
}
else
{
    <h5>No Orders</h5>
}
<h1>AllOrders</h1>


